@import url('https://fonts.googleapis.com/css?family=Courgette');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#3C3B3F, #605C3C);
  color: #EEF0F2;
  font-family: 'Courgette', cursive;
}

html {
  min-height: 100%;
}

a{
  color: #EEF0F2;
}
a:hover{
  text-decoration: none;
  color: #004f86;
}

header a {
  font-size: 1.2em;
  border: 1px solid #EEF0F2;
  border-radius: 50%;
}


li:hover{
  text-decoration: none;
  text-transform: lowercase;
}

